#back {
    /* background: linear-gradient(90deg, #AADBC1, white); */
    background-image: linear-gradient(to bottom, #8b01db, black);
    height: 100%;
    width: 100%;
}

.loginDiv {
    display: flex;
    justify-content: center;
    align-content: center;
    // padding-top: 80vh;
    margin-top: 80px;
}

#login {
    position: absolute;
    background-color: white;
    border-radius: 100%;
    width: 115%;
    height: 80%;
}